<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>

    <title>Encontrados | Missed Faces</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet"/>

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'/>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Encontrados</h1>
        </div>
    </div><!-- /row -->
    <hr/>
    <div class="row mt" style="background: white; box-shadow: darkgray 2px 2px 5px; padding: 10px">
        <br/>
        <table class="table table-hover table-bordered" style="margin-bottom: 0">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Local</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detection : ${detections}">
                <td th:text="${detection.person.name}"></td>
                <td th:text="${detection.time}"></td>
                <td th:text="'Lat: ' + ${detection.detector.latitude} + ', Lng: ' + ${detection.detector.longitude}"></td>
                <td>
                    <a th:href="@{'/encontrados/detalhes/' + ${detection.id}}">
                        <button class="btn btn-default">Ver detalhes <span
                                class="glyphicon glyphicon-chevron-right"></span></button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div><!-- /row -->
</div><!-- /container -->

<div th:include="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/validation.js"></script>
</body>
</html>
