<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="/static/img/favicon.png"/>

    <title>Encontrados | Missed Faces</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet"/>

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'/>
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Entre</h1>
        </div>
    </div><!-- /row -->
    <hr/>
    <div class="row mt">
        <ul>
            <li th:each="detection : ${detections}"><a th:href="@{'/encontrados/detalhes/' + ${detection.id}}"
                                                       th:text="${detection.person.name}"></a></li>
        </ul>
    </div><!-- /row -->
</div><!-- /container -->

<div th:include="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/validation.js"></script>
</body>
</html>
