<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/static/img/favicon.png" />

    <title>Cadastrar-se | Missed Faces</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet" />

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css' />
</head>

<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Cadastre-se</h1>
        </div>
    </div><!-- /row -->
    <hr />
    <div class="row mt">
        <form id="signin-form" role="form" class="col-lg-6 col-lg-offset-3 form-horizontal" method="POST" action=".">
            <div class="form-group">
                <label class="col-lg-4 control-label">E-mail: </label>
                <input type="email" name="email" id="email" class="form-control" autofocus="autofocus" />
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Password: </label>
                <input type="password" name="password" class="form-control" id="password" />
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Confirmation: </label>
                <input type="password" name="password2" class="form-control" id="password2" />
            </div>
            <div class="form-group">
                <div class="col-lg-offset-4">
                    <button type="submit" class="btn btn-default">Cadastrar-se</button>
                </div>
            </div>
        </form>
    </div><!-- /row -->
</div><!-- /container -->

<div th:include="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/validation.js"></script>
<script>
    $(document).ready(function () {
        var $form = $("#signin-form");
        var $email = $("#email");
        var $password = $("#password");
        var $password2 = $("#password2");

        $email.val(getURLParameter("email"));

        $form.on("submit", function (ev) {
            ev.preventDefault();
            if (validateFieldsSignin($email, $password, $password2)) {
                // TODO: do post
            }
        });
    })
</script>
</body>
</html>
